<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>controller.WelcomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPController</servlet-name>
        <servlet-class>controller.OTPController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaController</servlet-name>
        <servlet-class>controller.CaptchaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>controller.ListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileUserController</servlet-name>
        <servlet-class>controller.EditProfileUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChangeUserPassController</servlet-name>
        <servlet-class>controller.AdminChangeUserPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileOfAdmin</servlet-name>
        <servlet-class>controller.ProfileOfAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserAccount</servlet-name>
        <servlet-class>controller.DeleteUserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordAdmin</servlet-name>
        <servlet-class>controller.ChangePasswordAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiaryController</servlet-name>
        <servlet-class>controller.DiaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDebtorController</servlet-name>
        <servlet-class>controller.AddDebtorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDebtorController</servlet-name>
        <servlet-class>controller.UpdateDebtorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtBillController</servlet-name>
        <servlet-class>controller.DebtBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebtDetailController</servlet-name>
        <servlet-class>controller.DebtDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillController</servlet-name>
        <servlet-class>controller.ViewBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateUserAccountController</servlet-name>
        <servlet-class>controller.ActivateUserAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>controller.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedbackController</servlet-name>
        <servlet-class>controller.UpdateFeedbackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot_password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TokenController</servlet-name>
        <servlet-class>controller.TokenController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenController</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPController</servlet-name>
        <url-pattern>/otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaController</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/list_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileUserController</servlet-name>
        <url-pattern>/edit_profile_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChangeUserPassController</servlet-name>
        <url-pattern>/admin_change_user_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileOfAdmin</servlet-name>
        <url-pattern>/profile_of_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserAccount</servlet-name>
        <url-pattern>/delete_user_account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordAdmin</servlet-name>
        <url-pattern>/change_password_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiaryController</servlet-name>
        <url-pattern>/diary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDebtorController</servlet-name>
        <url-pattern>/addDebtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDebtorController</servlet-name>
        <url-pattern>/updateDebtor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtBillController</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebtDetailController</servlet-name>
        <url-pattern>/debtDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillController</servlet-name>
        <url-pattern>/viewBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateUserAccountController</servlet-name>
        <url-pattern>/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/viewFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedbackController</servlet-name>
        <url-pattern>/updatefeedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
