/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 14, 2024, 12:20:16 AM
    Author     : khail
*/
body {
    background-color: #83b3e3;;
    font-family:sans-serif;
}

.forgot-form {
    margin: 0 auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    max-width:450px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 1px solid rgba(17, 12, 46, 0.15);
    border-radius: 10px;
}

.forgot-title {
    color: #111;
    text-align:center;
    font-family: sans-serif;
    font-size:30px;
    font-weight:600;
    margin:20px 0px 30px;
}

.forgot-form .forgot-input input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size:15px;
}
.forgot-input input:focus {
  color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.error-message {
    color: red;
    font-size: 14px;
}

#forgot-btn {
    margin-top:5px;
    bottom: 10px;
    right: 10px;
    padding:12px 20px;
    border:none;
    outline:none;
    font-size:15px;
    background:#4c81ff;
    border-radius: 4px;
    color:#fff;
    transition: .3s;
    cursor:pointer;
}
#forgot-btn:hover{
    opacity: .8;
}

.forgot-form .captcha {
    margin: 15px 0;
}

.forgot-form .forgot-input label,
.forgot-form .captcha label {
    display: block;
    font-size: 15px;
    color: #111;
    margin-bottom: 10px;
}

.forgot-form .captcha .preview {
    color: #555;
    display: flex;
    align-items: center;
    border: 1px dashed #888;
    border-radius: 4px;
    font-family: "monospace";
}

.forgot-form .captcha .preview span {
    margin-left: 8px;
}

.forgot-form .captcha .captcha-form {
    display: flex;
    align-items: center;
}

.forgot-form .captcha .captcha-form input {
    flex: 1;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #888;
}

.forgot-form .captcha .captcha-form .captcha-refresh {
    width: 40px;
    border: none;
    outline: none;
    background: #888;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
}
.form-links a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}


.form-links a:hover {
    color: #0056b3;
    text-decoration: underline;
}


.form-links a.link {
    margin: 0 8px;
    font-weight: bold;
}
.captcha-image {
    max-width: 5%;
    height: auto;
    cursor: pointer;
    border: 1px solid #000;
}


.error-message {
    color: red;
}
.captcha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.captcha img{
    order: 1;
    margin-right: 10px; 
    border-radius: 4px;
}

.captcha input{
    order: 2; 
    flex-grow: 1; 
    margin-right: 10px;
    width: 100px;
    height: 30px;
    font-size:15px;
    border-radius: 4px;
    border:1px solid #888;
    padding:10px;
}

.captcha input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.captcha input label{
    display:block;
    font-size:15px;
    color:#111;
    margin-bottom:10px;
}
 
.captcha button {
    order: 3;
    border-radius: 4px;
}
