body {
    font-family: Arial, sans-serif;
    background-color: #83b3e3;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 80%;
    border-color: #000;
    border:2px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2f69d2;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.update-button {
    background-color: #008CBA;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc5656;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.activate-button {
    background-color: #3CC107;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.update-button:hover {
    background-color: #005a75;
}

.delete-button:hover {
    background-color: #b02a2a;
}
.activate-button:hover {
    background-color: #195301;
}

.action-buttons {
    display: flex;
    justify-content: flex-start;
}

.pagination {
    position: fixed;
    bottom: 50px;
}

.pagination a {
    color: black;
    font-size: 14px;
    padding: 7px 12px;
    text-decoration: none;
    margin: 0 5px;
    border: 1px;
    border-radius: 7px;
}

.pagination a.active {
    background-color: #3D36FF;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: cadetblue;
}

.back-button button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #008CBA;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.title {
    text-align: center;
}

input[type="text"] {
    max-width: 150px; /* Đặt độ rộng tối đa 150px cho tất cả các input text */
}

